<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rule Creation</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'nav.html' %}
    <div class="container">
        <h4>APPLICATION FORM </h4>
        <form action="/created_rule" method="post">
            <div class="mb-2">
                <label>Trigger</label><br>
                <div class="form-group">
                    <select name="triger" class="custom-select" required>
                        <option value="">Open this select menu</option>
                        <option value="Cart size">Cart size</option>
                        <option value="Cart Value">Cart Value</option>
                    </select>
                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
            </div>
            <div class="mb-2">
                <label>Condition</label><br>
                <div class="form-group">
                    <select name="cond" class="custom-select" required>
                        <option value="">Open this select menu</option>
                        <option value="Lower than">Lower than</option>
                        <option value="Greater than">Greater than</option>
                        <option value="Equal to ">Equal to</option>
                    </select>
                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
            </div>
            <div class="mb-2">
                <label>Value</label><br>
                <input type="number" required name="val" placeholder="Value">
            </div>
            <div class="mb-2">
                <label>Action</label><br>
                <div class="form-group">
                    <select name="act" class="custom-select" required>
                        <option value="">Open this select menu</option>
                        <option value="Discount of 10%">Discount of 10%</option>
                        <option value="Discount of 20%">Discount of 20%</option>
                        <option value="Discount of 30%">Discount of 30%</option>
                    </select>
                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
            </div>


            <input class="mb-2" type="submit">
        </form>
    </div>
    {% include 'footer.html' %}
</body>

</html>