<div class=" border-bottom row" style=" margin-top: 16px; padding-bottom:8px;">
    <div class="col-9 ">
        <div>
            <h4 style="margin-bottom: 4px;">
                <b>Rule:</b> {{rule['id']}}
            </h4>
        </div>
        <div>
            <b>Trigger:</b> {{rule['triger']}}
        </div>
        <div>
            <b>Condition:</b> {{rule['cond']}}
        </div>
        <div>
            <b>Value:</b> {{rule['val']}}
        </div>
        <div>
            <b>Action:</b> {{rule['act']}}
        </div>

    </div>

</div>